/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

a{
    display: inline-block;
    color: currentColor;
    text-decoration: none;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}